.notiMainDiv{
    text-align: -webkit-center;
    width: 100%;
    padding-top: 45px;
}

.notiTitle{
    width: 70%;
    font-size: 32px;
    text-align: left;
    padding-left: 10px;
}

.notiFrame{
    width: 70%;
    border: solid;
    border-color: black;
    border-width: 2px;
    min-height: 200px;
}