.notiMainDiv{
    text-align-last: center;
    width: 100%;
}

.notiTitle{
    width: 70%;
    font-size: 32px;
    text-align: left;
    padding-left: 10px;
}

.notiFrame{
    border: solid;
    border-color: black;
    border-width: 3px;
}