.notiMainDiv{
    text-align: -webkit-center;
    width: 100%;
    padding-top: 45px;
}

.notiTitle{
    width: 70%;
    font-size: 32px;
    text-align: left;
    padding-left: 10px;
}

.smartphone{
    display: inline;
}

.smartPhoneImage{
    height: 60px;
}

.notiFrame{
    position: relative;
    width: 70%;
    border: solid;
    border-color: black;
    border-width: 2px;
    min-height: 200px;
}

.notiImage{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
    border: dotted;
}

.notiSubject{
    position: absolute;
    top: 0px;
    left: 25%;
    height: 25%;
    width: 75%;
}

.notiText{
    position: absolute;
    left: 25%;
    top: 25%;
    height: 75%;
    width: 75%;
}

.notiSendDiv{
    width: 100%;
    padding-top: 40px;
    text-align: -webkit-center;
}

.notiSendButton{
   width: auto;
}

.actionButton {
    border-radius: 10px;
    height: 40px;
    background-image: url(/public/img/logos/tirebg.png);
    color: white;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

.notiToDiv{
    display: inline;
}

.notiToSelectDiv{
    display: inline;
}

input {
    width: 100%;
    height: 100%;
}